<div class="container">
  <div class="genres">
    <label class="checkbox-btn" *ngFor="let genre of genres">
      <input type="checkbox" (change)="getGenreFilteredMovies(genre)">
      <span>{{ genre }}</span>
    </label>
  </div>

  <div class="movies">
    <form class="filterform" #sortForm="ngForm">
      <label id="radio-group-label">Сортувати за:</label>
      <mat-radio-group class="sortform" aria-labelledby="radio-group-label">
        <mat-radio-button id="datebtn" name="sort" ngModel value="year" checked>Дата</mat-radio-button>
        <mat-radio-button id="ratingbtn" name="sort" ngModel value="rating">Рейтинг</mat-radio-button>
      </mat-radio-group>
      <div>
        <input type="submit" class="btn btn-default" (click)="filterMovies(sortForm)" value="add">
      </div>
    </form>

    <div class="films">
      <mat-card class="film" *ngFor="let m of filteredMovies">
        <img mat-card-image src="{{m.image}}">
        <mat-card-content> <a [routerLink]="['movie', m._id]"><b>{{ m.name }} ({{ m.year }}) </b></a></mat-card-content>
        <mat-card-content rating rate={{m.rating}} id={{m._id}} class="rating-result"> 
          <div rating rate={{m.rating}} id={{m._id}} class="rating-result">
              <span value="1"></span>	
              <span value="2"></span>    
              <span value="3"></span>  
              <span value="4"></span>    
              <span value="5"></span>
              <span value="6"></span>    
              <span value="7"></span>
              <span value="8"></span>    
              <span value="9"></span>
              <span value="10"></span>    
            </div>
        </mat-card-content>
        <mat-card-content><b>Жанр: </b>{{ m.genre }}</mat-card-content>
        <mat-card-content><b>Країна: </b>{{ m.country }}</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>